<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Quick Commission Advance</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="home/icon/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="home/assets/icon/apple-touch-icon-158-precomposed.png">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>



<body class="page header-fixed no-sidebar site-layout-full-width has-topbar menu-has-search menu-has-cart">

    <div id="wrapper" class="animsition">
        <div id="page" class="clearfix">
            <!-- Header Wrap -->
            <div id="site-header-wrap" class="absolute">
                <!-- Top Bar -->
                <div id="top-bar">
                    <div class="wrap-themesflat-container" style="background-color: #003399;">
                        <div id="top-bar-inner" class="themesflat-container">
                            <div class="top-bar-inner-wrap">
                                <div class="top-bar-content">
                                    <span class="address content"><a href="#">7550 IH-10, San Antonio, Texas
                                            78229</a></span>
                                    <span class="phone content"><a href="#">Phone +1 (877) 520-1529 </a></span>
                                </div><!-- /.top-bar-content -->

                                <div class="top-bar-content-right">
                                    <div class="top-bar-socials">
                                        <div class="inner">
                                            <span class="texts">Follow Us:</span>
                                            <span class="icons">
                                                <a href="#" title="Facebook">
                                                    <span class="finance-icon-Facebook" aria-hidden="true"></span>
                                                </a>
                                                <a href="#" title="Twitter">
                                                    <span class="finance-icon-Twitter" aria-hidden="true"></span>
                                                </a>
                                                <a href="#" title="Linkedin">
                                                    <span class="flat-icon-linkedin" aria-hidden="true"></span>
                                                </a>
                                                <a href="#" title="Instagram">
                                                    <span class="flat-icon-instagram" aria-hidden="true"></span>
                                                </a>
                                            </span>
                                        </div>
                                    </div><!-- /.top-bar-socials -->
                                </div><!-- .top-bar-content-right -->
                            </div>
                        </div>
                    </div><!-- /.wrap-themesflat-container -->
                </div><!-- /#top-bar -->

                <!-- Header -->


                <header id="site-header">
                    <div class="wrap-themesflat-container">
                        <div id="site-header-inner" class="themesflat-container" style="padding-top:20px ;">

                            <div class="wrap-inner">
                                <div id="site-logo" class="clearfix">
                                    <div id="site-logo-inner" style="padding-bottom:40px;">
                                      

                                        <a href="{% url 'home:index'%}"><img
                                                src="home/img/gallery/finalLogo.jpg " width="600"
                                                height="50"></a>
                                    </div>
                                </div>
                               <div id="site-logo" class="clearfix">
                                    <div id="site-logo-inner">
                                        <a href="{% url 'home:index' %}" title="Finance" rel="home"
                                            class="main-logo"><img src="home/img/imagebox/logo.jpg."
                                                style="position:fixed; left:275px; top: 42px;" width="1300" height="500"
                                                alt="Finance" data-retina="home/img/logo@2x.png"
                                                data-width="184" data-height="40"></a>
                                    </div>
                                </div>
                                <!-- /#site-logo --> 

                                <div class="mobile-button"><span></span></div><!-- //mobile menu button -->
                            </div>
                            <div>
                                <nav id="main-nav" class="main-nav" style="padding-top:56px;">
                                    <ul id="menu-primary-menu" class="menu">
                                        <li class="menu-item"><a href="{% url 'home:index' %}">HOME</a>
                                         
                                        </li>

                                        <li class="menu-item menu-item-has-children"><a
                                                href="{% url 'home:howitworks'%}">HOW IT WORKS</a>
                                           

                                        <li class="menu-item menu-item-has-children"><a class="logoutbutton"
                                                href="#">FAQ</a>
                                            <ul class="sub-menu" style="width: 290px;">
                                                <li class="menu-item"><a href="{%url 'home:agent_Faq'%}">AGENT</a></li>
                                                <li class="menu-item"><a href="{% url 'home:broker_Faq">BROKER</a>
                                                </li>
                                                <li class="menu-item"><a href="{% url 'home:whyadvance">WHY A
                                                        COMMISSION ADVANCE</a></li>


                                        </li>
                                    </ul>

                            
                                    </li>



                                    <li class="menu-item menu-item-has-children"><a href="{% url 'home:aboutUs"> WHY
                                            US</a>

                                    </li>


                                    <li class="menu-item menu-item-has-children"><a
                                            href="{%url 'home:contactUs'%}">CONTACT US</a></li>
                                

                                    <li class="menu-item menu-item-has-children"><a
                                            href="{%url 'home:contactUs'%}">WELCOME, {{user.username}}</a></li>

                                    <li class="nav-item">
                                        <form method="POST" action="{% url 'accounts:signout' %}"
                                            style="padding-top: 40px;">
                                            <button class="nav-link" type="submit">Logout</button>
                                        </form>
                                    </li>




                                    <li class="menu-item menu-item-has-children btn">
                                        <a href="{% url 'accounts:signin' %}">LOGIN</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children btn ">
                                        <a href="{% url 'accounts:register' %}"><b>SIGN UP</b></a>
                                    </li>

                            </div><!-- /.nav-top-cart-wrapper -->
                        </div>
                    </div><!-- /#site-header-inner -->
           <!-- /.wrap-themesflat-container -->
            </header><!-- /#site-header -->
        </div><!-- #site-header-wrap -->





        <!-- Footer -->
        <footer style="background-color:#003399;">
            <div id="footer-widgets" class="themesflat-container title-style-1">
                <div class="themesflat-row gutter-30">
                    <div class="span_1_of_2 col ">
                        <div class="widget widget_text padding-left-7" style="padding-top: 15px;">
                            <div class="textwidget">
                                <p class="margin-bottom-22">
                                    <img src="home/img/finalFooterLogo.jpg" width="500" height="50"
                                        alt="Finance" data-retina="home/img/logo-footer@2x.png"
                                        data-width="226" data-height="50">
                                </p>
                                <p>Providing financial options to Realtors
                                </p>
                            </div>
                        </div><!-- /.widget_text -->

                        <div class="widget widget_information padding-left-7">
                            <ul>
                                <li class="address clearfix">
                                    <div class="inner">
                                        <i class=" finance-icon-map"></i>
                                        <span class="text">7550 IH-10, San Antonio, Texas 78229</span>
                                    </div>
                                </li>
                                <li class="email clearfix">
                                    <div class="inner">
                                        <i class="finance-icon-Email02"></i>
                                        <span class="text "><a href="mailto:info@quickcommissionadvance.com"
                                                style="color:#b1b1b1;text-transform: lowercase; ">info@quickcommissionadvance.com</a></span>
                                    </div>
                                </li>
                                <li class="phone clearfix">
                                    <div class="inner">
                                        <i class=" finance-icon-Phone"></i>
                                        <span class="text"> +1 (877) 520-1529 / +1 (877) 520-1838 (Fax) / 8:00 AM - 6:00 PM</span>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.widget_information -->
                    </div><!-- /.span_1_of_4 -->



                    <div class="span_1_of_2 col" style="padding-top: 44px;">
                        <div class="widget widget_tag_cloud margin-top-6 padding-left-9">
                            <h2 class="widget-title margin-bottom-43" style="padding-top: 25px;"><span>Popular
                                    Tags</span></h2>
                            <div class="tagcloud">
                                <a href="">ADVANCE</a>
                                <a href="">COMMISSION</a>
                                <a href="">REALTOR</a>
                                <a href="">BROKER</a>
                                <a href="">CASH</a>
                                <a href="">FINANCES</a>
                                <a href="">INCOME</a>
                                <a href="">PLAN</a>
                                <a href="">COMMISSION ADVANCE</a>
                                <a href="">CASH ADVANCE</a>
                                <a href="">STABALIZE INCOME</a>
                            </div>
                        </div><!-- /.widget_tag_cloud -->
                    </div><!-- /.span_1_of_4 -->


                </div><!-- /.themesflat-row -->
            </div><!-- /#footer-widgets -->
        </footer><!-- /#footer -->

        <!-- Bottom -->
        <div id="bottom" class="clearfix style-1">
            <div id="bottom-bar-inner" class="themesflat-container">
                <div class="bottom-bar-inner-wrap">
                    <div class="bottom-bar-content">
                        <div id="copyright" class="padding-left-0">
                            &copy; COPYRIGHT QUICK COMMISSION ADVANCE LLC, DESIGN BY CONNOR, CHASE, & <a
                                href="https://endlos.tech/">@ENDLOS.</a>

                        </div><!-- /#copyright -->
                    </div><!-- /.bottom-bar-content -->

                    <div class="bottom-bar-menu">
                        <ul class="bottom-nav">
                            <li class="menu-item"><a href="{% url 'home:aboutUs' %}">WHY US</a></li>
                            <li class="menu-item"><a href="{% url 'home:applynow' %}">APPLY NOW</a></li>
                            <li class="menu-item"><a href="{%url 'home:agent_Faq'%}">FAQ</a></li>
                            <li class="menu-item"><a href="{%url 'home:contactUs'%}">Contacts</a></li>
                        </ul>
                    </div><!-- /.bottom-bar-menu -->
                </div>
            </div>
        </div><!-- /#bottom -->
    </div><!-- /#page -->
    </div><!-- /#wrapper -->

    <!-- Bottom -->

    </div><!-- /#page -->
    </div><!-- /#wrapper -->



    <!-- Javascript -->
    <script src="home/js/jquery.min.js"></script>
    <script src="home/js/plugins.js"></script>
    <script src="home/js/bootstrap.min.js"></script>
    <script src="home/js/animsition.js"></script>
    <script src="home/js/countto.js"></script>
    <script src="home/js/owl.carousel.min.js"></script>
    <script src="home/js/magnific.popup.min.js"></script>
    <script src="home/js/equalize.min.js"></script>
    <script src="home/js/typed.js"></script>
    <script src="home/js/vegas.js"></script>
    <script src="home/js/shortcodes.js"></script>
    <script src="home/js/main.js"></script>

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ2z7aoo8okwvyHbaxfKwUi-sblBj5QYk"></script>
    <script src="home/js/gmap3.min.js"></script>

    <!-- Revolution Slider -->
    <script src="home/rev-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="home/rev-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="home/js/rev-slider.js"></script>
    <!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
    <script src="home/rev-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="home/rev-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="home/rev-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="home/rev-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="home/rev-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="home/rev-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="home/rev-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="home/rev-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="home/rev-slider/js/extensions/revolution.extension.video.min.js"></script>
</body>

</html>