.square-box {
    position: relative;
    width: 90%;
    height: 100%;
    overflow: hidden;
    background: #f7f7f7;
    align-items: center;
    border: 0.25px solid;
    padding: 10px;
    box-shadow: 5px 10px 5px;
}

.h3 {
    align-content: center;
}

.square-box:before {
    content: "";
    display: block;
    padding-top: 20%;

}

.square-box:after {
    content: "";
    display: block;
    padding-bottom: 20%;

}

.square-content {
    position: center;
    margin-top: 25px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 10%;
    color: white;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.brd {
   
    border: solid;
    border-color: #003399;
}

.heder {
    background-color: #ccc;
    padding: 5px;
    padding-top: 10px;
    margin: 25px -30px;
}

#errorMsg {
    margin-top: -15px;
    color: red;
}
.fixed-btn {
    position: fixed;
    bottom: 10%;

    background: #00ccff;
    width: 180px;
    height: 45px;
    right: 2.5%;
    line-height: 45px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 4px 4px 4px #0a78aa;
    cursor: pointer;
}

.fixed-btn p {
    text-transform: uppercase;
    font-family: arial;
    font-weight: 900;
    color: #fff;
}

.fixed-btn:active {
    box-shadow: 0 0;
}

.ddd {
    text-align: left;
    font-size: 18px;
    margin: 10px 0;
}

.colSix {
    text-align: right;
    padding: 0;
    /* padding-top: 8px; */
}
b {
    color: black;
}

.demo h5 {
    padding: 2px;
    font-size: 1.25rem;
    margin: 0;
}

#errorMsg {
    font-size: 15px;
    text-align: center;
}

.inputs {
    height: 30px;
}

.itWorks {
    color: black;
    font-family: Montserrat;
    margin: 0;
    font-size: 17px;
    margin-left: 100px;
    margin-right: 250px;
    text-align: left;
}
dd {
    margin-left: 25px;
}